.main-screen {
    background: url(../img/main-img.png) no-repeat center;
    background-size: cover;
    height: 90vh;
    margin-bottom: 40px;
    @media (max-width: 990px) {
        margin-bottom: 0;
        height: 100vh;
    }
    .container {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
}

.main-screen-box {
    max-width: 800px;
    .main-title {
        color: #0033a9;
        font: 700 6.2rem 'Barlow', sans-serif;
        @media (max-width: 990px) {
            font: 700 4rem 'Barlow', sans-serif;
        }
        @media (max-width: 576px) {
            font: 700 2.75rem 'Barlow', sans-serif;
        }
        @media (max-width: 380px) {
            font: 700 2.2rem 'Barlow', sans-serif;
        }
    }
    .main-subtitle {
        color: #095bec;
        font: 500 3.9rem 'Barlow', sans-serif;
        margin-bottom: 10px;
        margin-top: -8px;
        @media (max-width: 990px) {
            margin-top: 0;
            font: 500 2.5rem 'Barlow', sans-serif;
        }
        @media (max-width: 576px) {
            font: 500 1.75rem 'Barlow', sans-serif;
        }
        @media (max-width: 380px) {
            font: 500 1.5rem 'Barlow', sans-serif;
        }
    }
    .main-text {
        color: #095ced;
        font: 300 1.9rem 'Barlow', sans-serif;
        margin-bottom: 35px;
        margin-top: -8px;
        @media (max-width: 990px) {
            margin-top: 0;
            font: 300 1.25rem 'Barlow', sans-serif;
        }
        @media (max-width: 576px) {
            font: 300 1rem 'Barlow', sans-serif;
            margin-bottom: 20px;
            margin-top: -5px;
        }
        br {
            @media (max-width: 576px) {
                display: none;
            }
        }
    }
}